.AboutWrapper {
  padding: 110px 0;
  background-color: #F79214;
  padding: 45px 0
}

.About {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between
}

.About__title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 0;
  width: 53%
}

.About__title::after {
  border-bottom: 6px solid #F79214;
  content: '';
  display: block;
  margin-top: 20px;
  width: 50px
}

.About__title h2 {
  font-size: 46px;
  font-weight: 700;
  line-height: 74px
}

.About__title h2 {
  font-size: 40px;
  letter-spacing: 1px;
  width: 100%
}

.About__title h2 span {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 900
}

.About__title h2>span {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 900
}

.About__title p {
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 10px;
  text-align: center
}

.About__title p {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 15px
}

.About__title::after {
  display: none
}

.About__title h2, .About__title p {
  color: #fff;
  text-align: left
}

.About__title br {
  display: none
}

.About__button {
  width: 250px
}

.About__button a {
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: #F79214 !important;
  background-color: #fff
}

.About__button a:visited {
  color: #fff
}

.About__button a[disabled] {
  background-color: #BBBBBB;
  cursor: not-allowed
}

.About__button a.disabled {
  background-color: #BBBBBB
}

.About__button a span:first-child {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px
}

.About__button a span:last-child {
  font-size: 12px;
  line-height: 18px
}

@media screen and (max-width:767px) {
  .About__title h2 span {
    font-size: 30px;
    letter-spacing: 1px
  }
  .About__title p {
    font-size: 16px;
    line-height: 21px
  }
  .About__title h2 {
    font-size: 30px !important;
    text-align: center
  }
  .About__title h2>span {
    font-size: 33px
  }
  .About__title br {
    display: block
  }
  .About__title {
    margin-bottom: 40px
  }
  .About__title h2 {
    font-size: 30px !important;
    line-height: 1.2;
    text-align: center
  }
  .AboutWrapper {
    padding: 30px 0
  }
  .About {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px
  }
}

@media screen and (min-width:768px) {
  .About__button a {
    transition: opacity 0.2s
  }
  .About__button a:hover {
    opacity: 0.8
  }
}

@media screen and (max-width:1024px) {
  .About {
    flex-direction: column
  }
  .About__title {
    margin-bottom: 0;
    width: 100%
  }
  .About__button {
    margin-top: 40px
  }
}