.Header{
  padding-top:20px;
  padding-bottom:20px;
  width:100%
}
.Header--recruit{
  padding-top:24px;
  padding-bottom:24px;
  position:absolute
}
.HeaderContainer{
  display:flex;
  justify-content:space-between;
  margin:0 36px 0 36px;
  max-width:100%;
  position:relative
}
.HeaderContainer>:last-child{
  display:inline-flex
}
.HeaderLogo__image--pc{
  display:block;
  height:20px;
  width:auto
}
.HeaderLogo__image--sp{
  display:none;
  height:16px;
  width:auto
}
.HeaderNavList{
  align-items:center;
  display:flex;
  justify-content:space-between
}
.HeaderNavListItem{
  margin-right:45px
}
.HeaderNavListItem:last-of-type{
  margin-right:0
}
.HeaderNavListItem--recruit{
  margin-right:72px
}
.HeaderNavListItem__link{
  display:block
}
.HeaderNavListItem__link.current{
  color:#F79214
}.HeaderNavListItem__link>span{
  display:block;
  font-weight:700;
  text-align:center
}
.HeaderNavListItem__link>span:first-child{
  font-family:'Lato', sans-serif
}
.HeaderNavListItem__link>span:last-child{
  font-size:10px
}
.HeaderNavListItem__button{
  align-items:center;
  background-color:#F79214;
  border:none;
  border-radius:38px;
  color:#fff;cursor:pointer;
  display:flex;
  flex-direction:column;
  font-size:16px;
  font-weight:700;
  height:64px;
  justify-content:center;
  text-decoration:none;
  text-align:center;
  width:100%;
  font-size:12px;
  height:40px;
  padding:0 20px
}
.HeaderNavListItem__button:visited{
  color:#fff
}
.HeaderNavListItem__button[disabled]{
  background-color:#BBBBBB;
  cursor:not-allowed
}
.HeaderNavListItem__button.disabled{
  background-color:#BBBBBB
}
.HeaderNavListItem__button span:first-child{
  font-family:'Lato', sans-serif;
  font-size:24px;
  font-weight:700;
  line-height:32px
}
.HeaderNavListItem__button span:last-child{
  font-size:12px;
  line-height:18px
}
.HeaderNavListItem__button--recruit{
  margin-right:0;
  padding:0 !important;
  width:104px
}
.HeaderNavHamburger{
  display:none
}

@media screen and (max-width:767px){
  .HeaderNavList.is-scroll{
    top:52px;
    bottom:0
  }
  .HeaderNavList{
    top:52px
  }
  .HeaderLogo__image--sp{
    display:block
  }
  .HeaderLogo__image--pc{
    display:none
  }
  .HeaderContainer{
    max-width:100%;
    margin:0 20px
  }
  .Header{
    padding-top:15px;
  padding-bottom:15px
  }
}

@media screen and (min-width:768px){
  .HeaderNavListItem{
    transition:opacity 0.2s
  }.HeaderNavListItem:hover{
    opacity:0.8
  }
  .HeaderLogo{
    transition:opacity 0.2s
  }.HeaderLogo:hover{
    opacity:0.8
  }
  .HeaderNavListItem__button{
    transition:opacity 0.2s
  }.HeaderNavListItem__button:hover{
    opacity:0.8
  }
}

@media screen and (max-width:1080px){
  .Header--recruit{
    background-color:unset !important;
    position:absolute !important
  }
  .Header{
    background-color:#fff;
    position:fixed;
    z-index:10
  }
  .HeaderNavList{
    overflow-y:scroll;
    position:fixed;
    top:60px;
    left:100%;
    width:100%;
    display:block;
    padding-top:20px;
    padding-bottom:75px;
    transition:transform 0.5s;
    z-index:99;
    background-color:rgba(0, 0, 0, 0.8);
    -webkit-overflow-scrolling:touch;
    height:100%
  }
  .HeaderNavList.is-active{
    transform:translate3d(-100%, 0, 0)
  }
  .HeaderNavList.is-scroll{
    top:60px;
    bottom:0
  }
  .HeaderNavListItem{
    margin-right:0
  }
  .HeaderNavListItem:last-of-type{
    margin-top:20px
  }
  .HeaderNavListItem__link{
    padding:20px 0
  }
  .HeaderNavListItem__link>span:first-child{
    font-size:16px;
    letter-spacing:5px;
    color:#fff
  }
  .HeaderNavListItem__link>span:last-child{
    font-size:12px;
    margin-top:10px;
    color:#F79214;
    letter-spacing:2px
  }
  .HeaderNavListItem__button{
    font-size:16px;
    margin:0 auto;
    height:60px;
    width:250px
  }
  .HeaderNavHamburger{
    cursor:pointer;
    display:block;
    position:relative;
    width:30px;
    height:21px;
    z-index:100
  }
  .HeaderNavHamburger__line{
    position:absolute;
    top:50%;
    display:block;
    width:100%;
    height:3px;
    background-color:#000;
    transform:translate(0, -50%);
    border-radius:10px;
    transition:top 0.2s, transform 0.2s, opacity 0.3s
  }
  .HeaderNavHamburger__line:first-child{
    top:0
  }
  .HeaderNavHamburger__line:last-child{
    top:100%
  }
  .is-active .HeaderNavHamburger__line{
    will-change:top;
    transform:translate(20px, -50%);
    opacity:0
  }
  .is-active .HeaderNavHamburger__line:first-child{
    top:50%;
    transform:translate(0, -50%) rotate(45deg);
    opacity:1
  }
  .is-active .HeaderNavHamburger__line:last-child{
    top:50%;
    transform:translate(0, -50%) rotate(-45deg);
    opacity:1
  }
}

