table{
  background-color: white;
}
 input {
  padding: 10px 25px;
  border-radius: 5px;
}
 button{
  padding: 10px 25px;
  border-radius: 5px;
 }

 .display {
  width: 250px;
  text-align: right; /* 文字を右詰めに */
  background: black;
  color: white;
}
