h1 {
          color: #364e96; /*文字色*/
          padding: 5px 0; /*上下の余白*/
          border-top: solid 6px #364e96; /*上線*/
          border-bottom: solid 6px #364e96; /*下線*/
        }
        
        
            /* cssの場合はこの両サイドで囲まれた箇所がコメント文になります。 */
            
            
                .text_a { color: red; } /* 文字を赤にする。classで指定 */
    .text_b { color: blue; } /* 文字を青にする。classで指定 */
    #text_c { color: green; } /* 文字を緑にする。idで指定 */
    #text_d { color: orange; } /* 文字をオレンジにする。idで指定 */
    .text_e { font-size: 26px; } /* 文字のサイズを26にする。classで指定 */
    small { color: purple; } /* 文字を紫にする。タグで指定 */
    
    .font-a { font-family: sans-serif; }
    .font-b { font-family: serif; }
    .font-c { font-family: monospace; }
    .font-d { font-family: fantasy; }
    .font-e { font-family: cursive; }
    .font-f { font-family: "メイリオ"; }
    
        .text1 { text-align: left; }
    .text2 { text-align: right; }
    .text3 { text-align: center; }
    
    
      .parent_box1 {
      background-color: gainsboro;
      height: 150px;
    }
 
    .box1 {
      background-color: cornflowerblue;
      width: 300px;
    }
 
    .box2 {
      background-color: crimson;
      width: 100%;
    }
 
    .box3 {
      background-color: darkorange;
      width: auto;
    }
    
    .parent_box2 {
      background-color: gainsboro;
      width: 600px;
    }
 
    .box4 {
      background-color: cornflowerblue;
      width: 100%;
    }
 
    .box5 {
      background-color: crimson;
      width: 75%;
    }
 
    .box6 {
      background-color: darkorange;
      width: 50%;
    }
 
    .box7 {
      background-color: mediumseagreen;
      width: 25%;
    }
    
    
        /* 親要素 */
    .parent_box {
      border: 1px solid red;
      width: 300px;
    }
 
    /* 子要素 */
    .children_box {
      width: 600px;
    }
    
    
     .box8 {
      background-color: mediumseagreen;
      height: 25px;
    }
 
    .box9 {
      background-color: crimson;
      height: 50px;
    }
 
    .box10 {
      background-color: palevioletred;
      height: 100px;
    }
    
    
    .box11 {
      background-color: mediumseagreen;
      width: 200px;
      /*height: auto;*/
    }
    
    
        .parent2 {
      background-color: darkorange;
      width: 100%;
      height: 200px;
    }
 
    .children5 {
      background-color: lightyellow;
      width: 50%;
      height: 50%;
    }
    
    
     .parent3 {
      background-color: darkorange;
      width: 100%;
      height: 100px;
    }
 
    .children6 {
      background-color: lightyellow;
      width: 50%;
      height: 50%;
    }
    
     .box > li {
      display: inline-block;
      background-color: pink;
    }
 
    .line_box {
      border: 1px solid black;
    }
 
    .line_boxA {
      border: 1px solid black;
      padding-top: 30px;
    }
 
    .line_boxB {
      border: 1px solid black;
      padding-bottom: 30px;
    }
 
    .line_boxC {
      border: 1px solid black;
      padding-left: 30px;
    }
 
    .line_boxD {
      border: 1px solid black;
      padding-right: 30px;
    }
 
    .line_boxE {
      border: 1px solid black;
      padding: 30px;
    }
    
     .line {
      background-color: orange;
      border: 1px solid black;
    }
    
    .line_b {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    
      .line_sample {
      background-color: skyblue;
      border: 1px solid black;
    }
    .line_c {
      padding: 20px 0 20px 0;
    }
    .line_d {
      margin: 20px 0 20px 0;
      padding: 20px;
    }
    .line_e {
      padding: 20px 0 0 20px;
    }
    
    
    .border1 {
      width: 100px;
      border: 2px solid black;
    }
 
    .border2 {
      width: 200px;
      border: 5px double red;
    }
 
    .border3 {
      width: 300px;
      border: 5px dashed pink;
    }
 
    .border4 {
      width: 400px;
      border: 5px ridge blue;
    }
 
    .border5 {
      width: 100%;
      border: 5px groove green;
    }
    
     .border6 {
      border-top: 5px solid black;
    }
 
    .border7 {
      border-bottom: 5px double red;
    }
 
    .border8 {
      border-right: 5px dashed pink;
    }
 
    .border9 {
      border-left: 5px ridge blue;
    }
 
    .border10 {
      border-top: 5px groove green;
      border-bottom: 5px groove red;
    }
    
     .test_border1 {
      border: 5px double black;
    }
    
     .test_border2 {
      border-top: 3px double red;
    }
    
     #test_border3 {
      border-top: 2px dotted #800080;
      border-right: 5px dashed #fa8072;
    }
    
    /* .test_border4 {*/
    /*  border-top: 2px solid black;*/
    /*  border-left: 2px solid black;*/
    /*  border-right: 2px solid black;*/
    /*}*/
    
     .test_border4 {
      border: 2px solid black;
      border-bottom: hidden;
    }
    
    
     .picture_area {
      position: relative; /* ここで基準となる要素を決定 */
      width: 100%;
      height: 400px;
      border: 5px solid pink;
    }
 
    .star_img {
      width: 100%;
      height: 400px;
    }
 
    .star_a {
      position: absolute; /* ここで基準となる要素の位置を指定 */
      top: 0px; /* 表示位置を記載 */
      left: 0px; /* 表示位置を記載 */
      color: black;
      border: 3px solid black;
    }
 
    .star_b {
      position: absolute; /* ここで基準となる要素の位置を指定 */
      top: 200px; /* 表示位置を記載 */
      right: 350px; /* 表示位置を記載 */
      color: black;
      border: 3px solid black;
    }
 
    .star_c {
      position: absolute; /* ここで基準となる要素の位置を指定 */
      bottom: 50px; /* 表示位置を記載 */
      color: black;
      border: 3px solid black;
    }
 
    .outside {
      color: black;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    