   .main {
      width: 100%;
      height: 250px;
      position: relative;
      color: white;
    }
 
    .box {
      width: 150px;
      height: 150px;
    }
 
    .pink_a {
      z-index: 3;
      background-color: pink;
      position: absolute;
      top: 0px;
      left: 0px;
    }
 
    .green_a {
      /*z-index: 0;*/
      background-color: green;
      position: absolute;
      top: 50px;
      left: 50px;
    }
 
    .orange_a {
      z-index: 1;
      background-color: orange;
      position: absolute;
      top: 100px;
      left: 100px;
    }
    
        p:first-child {
      color: red;
    }
 
    /* クラスに対して擬似クラスを指定している */
    .target:hover {
      color: blue;
      font-size: 40px;
    }
    
    .before_text::before {
      content: "[Beforeで挿入!]";
      color: red;
      font-weight: bold;
      padding-right: 10px;
    }
 
    .after_text::after {
      content: "[Afterで挿入]";
      color: deeppink;
      font-size: 20px;
      padding-left: 10px;
    }
 
    article {
      border: 1px solid black;
      /*padding: 15px;*/
    }