.FirstView {
  background-image: url(../images/home/first-view/top-hero.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 28px
}

@media screen and (max-width:767px) {
  .FirstView {
    background-image: none;
    padding-top: 0;
    padding-bottom: 35px
  }
}

.FirstView__main-image {
  width: 100%
}

.FirstView__main-image--sp {
  display: none
}

@media screen and (max-width:767px) {
  .FirstView__main-image--sp {
    display: block
  }
}

.FirstView__container {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative
}

@media screen and (max-width:767px) {
  .FirstView__container {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px
  }
}

@media screen and (max-width:767px) {
  .FirstView__container {
    margin-top: -45vw
  }
}

.FirstViewContent {
  margin-bottom: 70px;
  width: fit-content
}

@media screen and (max-width:767px) {
  .FirstViewContent {
    margin-bottom: 20px;
    width: 100%
  }
}

.FirstViewContent__title {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 15px;
  text-align: center
}

@media screen and (max-width:767px) {
  .FirstViewContent__title {
    font-size: 25px;
    line-height: 36px;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1)
  }
}

.FirstViewContent__images {
  margin-bottom: 25px
}

@media screen and (max-width:767px) {
  .FirstViewContent__images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%
  }
}

.FirstViewContent__images img {
  margin-right: 8px
}

@media screen and (max-width:767px) {
  .FirstViewContent__images img {
    width: 27.5%
  }
}

.FirstViewContent__images img:nth-of-type(2) {
  width: 40%
}

.FirstViewContent__images img:last-of-type {
  margin-right: 0
}

.FirstViewContent__buttons {
  display: flex
}

@media screen and (max-width:767px) {
  .FirstViewContent__buttons {
    flex-direction: column
  }
}

.FirstViewContent__buttons a {
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 64px
}

.FirstViewContent__buttons a:visited {
  color: #fff
}

.FirstViewContent__buttons a[disabled] {
  background-color: #BBBBBB;
  cursor: not-allowed
}

.FirstViewContent__buttons a.disabled {
  background-color: #BBBBBB
}

.FirstViewContent__buttons a span:first-child {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px
}

.FirstViewContent__buttons a span:last-child {
  font-size: 12px;
  line-height: 18px
}

@media screen and (min-width:768px) {
  .FirstViewContent__buttons a {
    transition: opacity 0.2s
  }
  .FirstViewContent__buttons a:hover {
    opacity: 0.8
  }
}

@media screen and (max-width:767px) {
  .FirstViewContent__buttons a {
    font-size: 14px;
    width: 100% !important
  }
}

.FirstViewContent__buttons a:first-of-type {
  margin-right: 15px;
  width: 306px
}

@media screen and (max-width:767px) {
  .FirstViewContent__buttons a:first-of-type {
    margin-right: 0;
    margin-bottom: 10px
  }
}

.FirstViewContent__buttons a:last-of-type {
  background-color: #fff;
  border: 1px solid #E0E0E0;
  color: #000;
  width: 176px
}

@media screen and (max-width:767px) {
  .FirstViewContent__buttons a:last-of-type {
    height: 45px
  }
}

.FirstViewCaption {
  color: #A2A2A4;
  font-size: 12px
}

.FirstViewCaption a {
  color: #A2A2A4
}


/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sourceRoot%22%3A%22http%3A%2F%2Fpotepancamp.local%2F%22%2C%22sources%22%3A%5B%22wp-content%2Fthemes%2Fpotepancamp%2Fassets%2Fscss%2Ffirst-view.scss%22%2C%22wp-content%2Fthemes%2Fpotepancamp%2Fassets%2Fscss%2F.%2F.%2F_set-device-width.scss%22%2C%22wp-content%2Fthemes%2Fpotepancamp%2Fassets%2Fscss%2F.%2F_mixins.scss%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAEA%2CWAAA%2CmJAAA%2CCCWE%2CoCAAA%2CWAAA%2CuDAAA%2CCAAA%2CCDEA%2CuBAAA%2CUAAA%2CCAGE%2C2BAAA%2CYAAA%2CCCLF%2CoCAAA%2C2BAAA%2CaAAA%2CCAAA%2CCDcA%2CsBAAA%2C0GAAA%2CCCdA%2CoCAAA%2CsBAAA%2CmDAAA%2CCAAA%2CCAAA%2CoCAAA%2CsBAAA%2CgBAAA%2CCAAA%2CCDuBF%2CkBAAA%2CoCAAA%2CCCvBE%2CoCAAA%2CkBAAA%2C6BAAA%2CCAAA%2CCDgCA%2CyBAAA%2C8HAAA%2CCChCA%2CoCAAA%2CyBAAA%2CwHAAA%2CCAAA%2CCDiDA%2C0BAAA%2CkBAAA%2CCCjDA%2CoCAAA%2C0BAAA%2CwEAAA%2CCAAA%2CCD2DE%2C8BAAA%2CgBAAA%2CCC3DF%2CoCAAA%2C8BAAA%2CWAAA%2CCAAA%2CCDkEI%2C6CAAA%2CSAAA%2CCAIA%2C2CAAA%2CcAAA%2CCAMJ%2C2BAAA%2CYAAA%2CCC5EA%2CoCAAA%2C2BAAA%2CqBAAA%2CCAAA%2CCDmFE%2C6BAAA%2CuQAAA%2CCEwFF%2CqCAAA%2CUAAA%2CCAIA%2CuCAAA%2C2CAAA%2CCAKA%2CsCAAA%2CwBAAA%2CCAKE%2C8CAAA%2C8EAAA%2CCAOA%2C6CAAA%2C%2BBAAA%2CCAQF%2CoCAAA%2C6BAAA%2CuBAAA%2CCAGE%2CmCAAA%2CWAAA%2CCAAA%2CCD3MF%2CoCAAA%2C6BAAA%2CoCAAA%2CCAAA%2CCD8FI%2C2CAAA%2C6BAAA%2CCC9FJ%2CoCAAA%2C2CAAA%2CiCAAA%2CCAAA%2CCDwGI%2C0CAAA%2CqEAAA%2CCCxGJ%2CoCAAA%2C0CAAA%2CWAAA%2CCAAA%2CCDsHF%2CkBAAA%2C4BAAA%2CCAIE%2CoBAAA%2CaAAA%22%7D */