.GraduateInterviewsWrapper {
  padding: 110px 0
}

.GraduateInterviews {
  max-width: 1140px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative
}

@media screen and (max-width:767px) {
  .GraduateInterviews {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px
  }
}

.GraduateInterviews__title {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  width: 100%
}

@media screen and (max-width:767px) {
  .GraduateInterviews__title {
    margin-bottom: 40px
  }
}

.GraduateInterviews__title::after {
  border-bottom: 6px solid #F79214;
  content: '';
  display: block;
  margin-top: 20px;
  width: 50px
}

.GraduateInterviews__title h2 {
  font-size: 46px;
  font-weight: 700;
  line-height: 74px
}

@media screen and (max-width:767px) {
  .GraduateInterviews__title h2 {
    font-size: 30px !important;
    line-height: 1.2;
    text-align: center
  }
}

.GraduateInterviews__title h2 span {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 900
}

@media screen and (max-width:767px) {
  .GraduateInterviews__title h2 span {
    font-size: 30px;
    letter-spacing: 1px
  }
}

.GraduateInterviews__title p {
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 10px;
  text-align: center
}

@media screen and (max-width:767px) {
  .GraduateInterviews__title p {
    font-size: 16px;
    line-height: 21px
  }
}

.GraduateInterviews__title br {
  display: none
}

@media screen and (max-width:767px) {
  .GraduateInterviews__title br {
    display: block
  }
}

.GraduateInterviews__button {
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin: 60px auto 0;
  width: 300px
}

.GraduateInterviews__button:visited {
  color: #fff
}

.GraduateInterviews__button[disabled] {
  background-color: #BBBBBB;
  cursor: not-allowed
}

.GraduateInterviews__button.disabled {
  background-color: #BBBBBB
}

.GraduateInterviews__button span:first-child {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px
}

.GraduateInterviews__button span:last-child {
  font-size: 12px;
  line-height: 18px
}

@media screen and (min-width:768px) {
  .GraduateInterviews__button {
    transition: opacity 0.2s
  }
  .GraduateInterviews__button:hover {
    opacity: 0.8
  }
}

.GraduateInterviewList {
  display: flex;
  justify-content: space-between;
  margin-right: -20px;
  margin-left: -20px
}

@media screen and (max-width:1070px) {
  .GraduateInterviewList {
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding-right: 160px;
    padding-left: 160px
  }
}

@media screen and (max-width:840px) {
  .GraduateInterviewList {
    padding-right: 80px;
    padding-left: 80px
  }
}

@media screen and (max-width:560px) {
  .GraduateInterviewList {
    padding-right: 40px;
    padding-left: 40px
  }
}

.GraduateInterviewItem {
  padding-right: 20px;
  padding-left: 20px;
  width: calc(100% / 3)
}

@media screen and (max-width:1070px) {
  .GraduateInterviewItem {
    padding-right: 0;
    padding-left: 0;
    width: 100%
  }
}

@media screen and (max-width:1070px) {
  .GraduateInterviewItem+.GraduateInterviewItem {
    border-top: solid 1px #efefef;
    margin-top: 20px;
    padding-top: 30px
  }
}

.GraduateInterviewItem__link:hover .GraduateInterviewThumbnail__image--pc {
  transform: scale(1.1)
}

.GraduateInterviewItem__link:hover .GraduateInterviewSummary {
  color: #F79214
}

.GraduateInterviewThumbnail {
  overflow: hidden;
  padding-top: 100%;
  position: relative
}

.GraduateInterviewThumbnail__image {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: transform 0.2s;
  width: 100%
}

.GraduateInterviewThumbnail__image--pc {
  display: block
}

@media screen and (max-width:767px) {
  .GraduateInterviewThumbnail__image--pc {
    display: none
  }
}

.GraduateInterviewThumbnail__image--sp {
  display: none
}

@media screen and (max-width:767px) {
  .GraduateInterviewThumbnail__image--sp {
    display: block
  }
}

.GraduateInterviewTitle {
  background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0.7), rgba(50, 50, 50, 0));
  padding: 80px 20px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0
}

@media screen and (max-width:767px) {
  .GraduateInterviewTitle {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 55%, rgba(30, 30, 30, 0));
    padding: 50px 10px 10px
  }
}

@media screen and (max-width:375px) {
  .GraduateInterviewTitle {
    padding: 35px 10px 10px
  }
}

.GraduateInterviewTitle__course {
  color: #f79314;
  font-size: 16px;
  font-weight: 700
}

@media screen and (max-width:375px) {
  .GraduateInterviewTitle__course {
    font-size: 14px
  }
}

.GraduateInterviewTitle__name {
  color: #fff;
  border-top: 1px solid #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
  padding-top: 4px
}

@media screen and (max-width:375px) {
  .GraduateInterviewTitle__name {
    font-size: 14px
  }
}

@media screen and (max-width:767px) {
  .GraduateInterviewTitle__name::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 13px;
    right: 13px;
    border-right: solid 3px #f79214;
    border-top: solid 3px #f79214;
    transform: rotate(45deg)
  }
}

.GraduateInterviewTitle__name>span:first-of-type {
  font-size: 20px
}

@media screen and (max-width:375px) {
  .GraduateInterviewTitle__name>span:first-of-type {
    font-size: 18px
  }
}

.GraduateInterviewTitle__name>span:last-of-type {
  font-size: 12px;
  margin-left: 15px
}

@media screen and (max-width:767px) {
  .GraduateInterviewTitle__name>span:last-of-type {
    display: block;
    margin-left: 0
  }
}

@media screen and (max-width:375px) {
  .GraduateInterviewTitle__name>span:last-of-type {
    font-size: 11px
  }
}

.GraduateInterviewSummary {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 15px
}

@media screen and (max-width:767px) {
  .GraduateInterviewSummary {
    margin-top: 20px
  }
}


/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sourceRoot%22%3A%22http%3A%2F%2Fpotepancamp.local%2F%22%2C%22sources%22%3A%5B%22wp-content%2Fthemes%2Fpotepancamp%2Fassets%2Fscss%2Fgraduate-interview-list.scss%22%2C%22wp-content%2Fthemes%2Fpotepancamp%2Fassets%2Fscss%2F.%2F.%2F_set-device-width.scss%22%2C%22wp-content%2Fthemes%2Fpotepancamp%2Fassets%2Fscss%2F.%2F_mixins.scss%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAEA%2C2BAAA%2CeAAA%2CCAIA%2CoBAAA%2C0GAAA%2CCCOE%2CoCAAA%2CoBAAA%2CmDAAA%2CCAAA%2CCDJA%2C2BAAA%2CmFAAA%2CCCIA%2CoCAAA%2C2BAAA%2CkBAAA%2CCAAA%2CCC2GA%2CkCAAA%2CmFAAA%2CCAQA%2C8BAAA%2C%2BCAAA%2CCDnHA%2CoCAAA%2C8BAAA%2C2DAAA%2CCAAA%2CCC8HE%2CmCAAA%2C6DAAA%2CCD9HF%2CoCAAA%2CmCAAA%2CiCAAA%2CCAAA%2CCC0IA%2C6BAAA%2CsGAAA%2CCD1IA%2CoCAAA%2C6BAAA%2C%2BBAAA%2CCAAA%2CCDDE%2C8BAAA%2CYAAA%2CCCCF%2CoCAAA%2C8BAAA%2CaAAA%2CCAAA%2CCDIA%2C4BAAA%2C0RAAA%2CCEuKA%2CoCAAA%2CUAAA%2CCAIA%2CsCAAA%2C2CAAA%2CCAKA%2CqCAAA%2CwBAAA%2CCAKE%2C6CAAA%2C8EAAA%2CCAOA%2C4CAAA%2C%2BBAAA%2CCAQF%2CoCAAA%2C4BAAA%2CuBAAA%2CCAGE%2CkCAAA%2CWAAA%2CCAAA%2CCF9LJ%2CuBAAA%2C%2BEAAA%2CCAME%2CqCAAA%2CuBAAA%2CiFAAA%2CCAAA%2CCAQA%2CoCAAA%2CuBAAA%2CoCAAA%2CCAAA%2CCAKA%2CoCAAA%2CuBAAA%2CoCAAA%2CCAAA%2CCAMF%2CuBAAA%2CyDAAA%2CCAKE%2CqCAAA%2CuBAAA%2CyCAAA%2CCAAA%2CCAOE%2CqCAAA%2C8CAAA%2C6DAAA%2CCAAA%2CCAWM%2C0EAAA%2CoBAAA%2CCAMJ%2C6DAAA%2CaAAA%2CCAON%2C4BAAA%2CkDAAA%2CCAKE%2CmCAAA%2CgGAAA%2CCASE%2CuCAAA%2CaAAA%2CCCxFF%2CoCAAA%2CuCAAA%2CYAAA%2CCAAA%2CCD4FE%2CuCAAA%2CYAAA%2CCC5FF%2CoCAAA%2CuCAAA%2CaAAA%2CCAAA%2CCDkGF%2CwBAAA%2CsRAAA%2CCClGE%2CoCAAA%2CwBAAA%2CsGAAA%2CCAAA%2CCDgHA%2CoCAAA%2CwBAAA%2CsBAAA%2CCAAA%2CCAIA%2CgCAAA%2C4CAAA%2CCAKE%2CoCAAA%2CgCAAA%2CcAAA%2CCAAA%2CCAKF%2C8BAAA%2CkGAAA%2CCAQE%2CoCAAA%2C8BAAA%2CcAAA%2CCAAA%2CCCtIF%2CoCAAA%2CqCAAA%2C4KAAA%2CCAAA%2CCD0JI%2CiDAAA%2CcAAA%2CCAGE%2CoCAAA%2CiDAAA%2CcAAA%2CCAAA%2CCAKF%2CgDAAA%2C%2BBAAA%2CCClKJ%2CoCAAA%2CgDAAA%2C2BAAA%2CCAAA%2CCD2KM%2CoCAAA%2CgDAAA%2CcAAA%2CCAAA%2CCAQR%2C0BAAA%2C8DAAA%2CCCnLE%2CoCAAA%2C0BAAA%2CeAAA%2CCAAA%22%7D */